spring:
  datasource:
    url: jdbc:postgresql://ep-spring-block-ah5zkbk5-pooler.c-3.us-east-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_NnOVw2CMlHd9
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
